@tailwind base;
@tailwind components;
@tailwind utilities;

.dt-info{
    @apply mt-2
}
/* .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
} */

.dt-paging-button{
    @apply p-2 mx-1 mt-2 rounded-sm
}

.dt-paging-button:hover {
    background-color: #f0f0f0;
}

.dt-paging-button.current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.dt-paging-button.disabled {
    opacity: 0.5;
    cursor: default;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #333;
}

.custom_content {
    width: calc(100% - 60px);
    left: 60px;
}

.custom_content.active {
    width: calc(100% - 240px);
    left: 240px;
}

.primary-text {
    color: #1c75bc;
}
.sidebar.active ~ .custom_content {
    width: calc(100% - 200px);
    left: 200px;
}

/* CUSTOM DATATABLE */
div.dt-container div.dt-search {
    margin-bottom: 1rem;
}
div.dt-container div.dt-search input {
    border-radius: 0.5rem;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px !important;
}
div.dt-container div.dt-search label {
    font-size: 12px;
}
div.dt-container div.dt-paging {
    text-align: right;
}
.dt-paging-button {
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    padding: 6px 14px;
}
.dt-info {
    font-size: 12px;
}
table.dataTable td {
    color: #6B7280;
}
/* END DATATABLE */
